.SortableItem {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 18px 20px;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  list-style: none;
  background-color: #fff;
  border-radius: calc(4px / var(--scale-x, 1));
  box-shadow:
    0 0 0 calc(1px / var(--scale-x, 1)) rgb(63 63 68 / 5%),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgb(34 33 81 / 15%);
}

.DragHandle {
  touch-action: none;
  cursor: var(--cursor, pointer);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 12px;
  padding: 15px;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.DragHandle:hover {
  background-color: rgb(0 0 0 / 5%);
}

.DragHandle:focus-visible {
  box-shadow: 0 0 0 2px #4c9ffe;
}
